 <!-- header top menu end -->

 <div class="side-content-wrap">
    <div class="sidebar-left open rtl-ps-none" data-perfect-scrollbar data-suppress-scroll-x="true">
        <ul class="navigation-left">
        
            <li class="nav-item" data-item="comp">
                <a class="nav-item-hold">
                    <img src="/assets/images/compe.svg" alt="" class="rounded-circle" style="width: 40px;">
                    <span class="nav-text">Competition</span>
                </a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item" data-item="mem">
                <a class="nav-item-hold" href="#">
                    <i class="i-Add-User text-30" style="color: rgb(20, 20, 19);"></i>
                    <span class="nav-text">Member</span>
                </a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item" data-item="fish">
                <a class="nav-item-hold" href="#">
                    <img src="/assets/images/fish.svg" alt="" class="rounded-circle" style="width: 40px;">
                    <span class="nav-text">Fish</span>
                </a>
                <div class="triangle"></div>
            </li>

            <li class="nav-item" data-item="lev">
                <a class="nav-item-hold" href="#">
                    <img src="/assets/images/levels.svg" alt="" class="rounded-circle" style="width: 40px;">
                    <span class="nav-text">Level</span>
                </a>
                <div class="triangle"></div>
            </li>

            <li class="nav-item " data-item="charts">
                <a class="nav-item-hold" href="#">
                    <i class="nav-icon i-File-Clipboard-File--Text"></i>
                    <span class="nav-text">Charts</span>
                </a>
                <div class="triangle"></div>
            </li>


            
        </ul>
    </div>

    <div class="sidebar-left-secondary rtl-ps-none" data-perfect-scrollbar data-suppress-scroll-x="true">
        
        <ul class="childNav" data-parent="comp">
            <li class="nav-item">
                <a routerLink="competitions">
                    <i class="nav-icon i-Data"></i>
                    <span class="item-name"  >Competitions</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="add-competition">
                    <i class="nav-icon i-Add"></i>
                    <span class="item-name">Create Competition</span>
                </a>
            </li>
            
        </ul>
        <ul class="childNav" data-parent="mem">
            <li class="nav-item">
                <a routerLink="members">
                    <i class="nav-icon i-Data"></i>
                    <span class="item-name">Members</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="add-member">
                    <i class="nav-icon i-Add"></i>
                    <span class="item-name">Add Member</span>
                </a>
            </li>
        </ul>

        <ul class="childNav" data-parent="lev">
            <li class="nav-item">
                <a class="" href="widget-card.html">
                    <i class="nav-icon i-Data"></i>
                    <span class="item-name">List Of Levels</span>
                </a>
            </li>
            <li class="nav-item">


                <a class=""
                    href="widgets-statistics.html">
                    <i class="nav-icon i-Add"></i>
                    <span class="item-name">Add Level</span>
                </a>
            </li>

           

        </ul>
        <ul class="childNav" data-parent="fish">
            <li class="nav-item">
                <a class="" href="widget-card.html">
                    <i class="nav-icon i-Data"></i>
                    <span class="item-name">List Of Fish</span>
                </a>
            </li>
            <li class="nav-item">


                <a class=""
                    href="widgets-statistics.html">
                    <i class="nav-icon i-Add"></i>
                    <span class="item-name">Add Fish</span>
                </a>
            </li>

           

        </ul>
        <ul class="childNav" data-parent="charts">
            <li class="nav-item">
                <a class="" href="widget-card.html">
                    <i class="nav-icon i-Data"></i>
                    <span class="item-name">List Of Fish</span>
                </a>
            </li>
            <li class="nav-item">
                <a class=""
                    href="widgets-statistics.html">
                    <i class="nav-icon i-Add"></i>
                    <span class="item-name">Add Fish</span>
                </a>
            </li>

           

        </ul>
    </div>
    <div class="sidebar-overlay"></div>
</div>
<!--=============== Left side End ================-->